name: CI
"on":
  push:
jobs:
  test-browser:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser:
          - chrome
          - firefox
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.0
      - name: prepare node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 24.11.1
          cache: npm
          cache-dependency-path: "package-lock.json"
      - name: install
        run: npm ci
      - name: install playwright
        run: npx playwright install
      - name: test browser
        run: npm run test:browser-ava --if-present
        env:
          BROWSER: ${{ matrix.browser }}
  release:
    needs:
      - test-browser
